<form autocomplete='off'>
	<div class='form-group flexrow' data-dtype='String' data-stats-owner='{{spellBook.linkedId}}'>
		<div class='flexcol book-stats-labels'>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsTotal'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsPages'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsBooks'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsPrice'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStatsValue'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats0'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats1'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats2'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats3'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats4'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats5'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats6'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats7'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats8'}}</label>
			<label>{{localize 'FSWorkshop.SpellBookGenerator.spellStats9'}}</label>
		</div>
		<div class='flexcol book-stats-data'>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spellsTotal}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.pagesTotal}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.booksTotal}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.price}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.value}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells0}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells1}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells2}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells3}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells4}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells5}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells6}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells7}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells8}}'></input>
			<input type='text' readonly class='book-stats-label' data-dtype='String' value='{{spellBook.spells9}}'></input>
		</div>
	</div>
</form>